Django==5.2
psycopg[binary]==3.2.9
django-htmx==1.21.0
django-axes==7.1.0
django-otp==1.5.4
qrcode==8.0
django-csp==4.0
django-widget-tweaks==1.5.0
python-magic==0.4.27
Pillow==11.2.1
argon2-cffi==23.1.0
whitenoise==6.9.0
gunicorn==23.0.0
celery[redis]==5.5.2
redis==5.3.0
weasyprint==65.0
reportlab==4.4.0